html,
body {
  background-image: url("/clouds.jpg");
  font-family: VT323;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{
  color: white;
  font-size: 8vh;
}

h2{
  color: white;
  font-size: 5vh;
}

p{
  color: white;
  font-size: 4vh;
}

button{
  border: none;
  color: white;
  background-color: transparent;
  font-family: VT323;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

code{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
